body ,html, p,h1,h2,h3,h4,h5,h6,h7{
	display:block;
	margin:0;
}

html{
	font-size: 100%;
}
/*fonts*/

   @font-face {
    font-family: MullerThinDEMO; 
    src: url(../fonts/Muller-Thin-DEMO.otf); 
   }
   @font-face {
    font-family: WebnarBold;
    src: url(../fonts/Webnar_Bold.otf);
   }
/*fonts*/
.align-right{
	text-align:right;
}
.align-left{
	text-align:left;
}
.left{
	float:left;
}
.right{
	float:right;
}
#wrapper{
	min-width: 1020px;
	
}
.container{
	width: 791px;
	margin:0 auto;
}
#doors13, #doors11, #doors9, #doors8, #doors7{
	background-size:cover!important;
	-webkit-background-size:cover!important;
	-o-background-size:cover!important;
	-moz-background-size:cover!important;
}
#doors1{
	background:url(../images/doors.png)  50% 0% no-repeat;
	height: 637px;
	
}
p{
	
	font-family:MullerThinDEMO;
}
h2{
	font-size:23pt;
	font-size:1.9rem;
	font-family: WebnarBold; 
	text-align: center;
	padding-top:25px;
}
h3{
	font-size:16.8pt;
	font-size:1.4rem;
	font-family: WebnarBold; 
	text-align: center;

}
#doors1 p,#doors1 a{
	color: #ffffff;
	font-family:MullerThinDEMO;
	text-transform: uppercase;
}
#doors1 a{
	text-decoration:none;
	font-family: WebnarBold;
}
#header{
	padding-top:12px;
}
#header div{
	display:inline-block;
}

#contacts{
	float:right;
	width:50%;
	text-align:right;
	
}
#contacts p{
	font-size: 14pt;
	font-size:1.2rem;
	line-height:21.5pt;
	line-height:1.8rem;
}
#contacts #number{
display: inline-block
}
#contacts a{
	background-color:#80d416;
	padding: 7px 12px 5px ;
	letter-spacing: 3px;
	border-radius: 12px;
	font-size: 14pt;
	font-size:1.2rem;
	margin-left:5px;
	
}
#logo{
	width:50%;
}
#logo p{
	width: 90%;
	font-size: 21.5pt;
	font-size:1.8rem;
	
	
}
#logo img{
	float:left;
	
}
#main div{
	width:49%;
	display:inline-block;
	margin-top:24%;
	vertical-align: top;
}
#main .align-right{
	padding-right: 20px;
    box-sizing: border-box;
}
#main .align-right p:first-child{
	font-size: 72pt;
	line-height:4rem;
	font-size:6rem;
	font-family: WebnarBold;
}
#main .align-right p:last-child{
	font-size: 24pt;
	font-size:1.98rem;
	text-transform:none;
}

#main .align-left{
	font-size: 26.4pt;
	font-size:2.2rem;
}
#main .align-left p{
	padding-left:15px;
}
#main a{
	background-color: #ff9c00;
	padding: 12px 20px 10px;
	letter-spacing: 3px;
	border-radius: 5px;
	font-size: 14pt;
	font-size:1.2rem;
	
}
#main div:last-child{
	text-align: center;
    width: 100%;
    vertical-align: middle;
	margin-bottom: 5%;
}
#doors2{
	background:url(../images/doors2.png) 0% 0% repeat-x;
	min-height: 234px;
	
}
#doors2  .container div{
	display:inline-block;
	width:24%;
	text-align:center;
	max-height:152px;
	background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	padding:40px 0 20px 0;
	margin-top:15px;
}
#doors2  .container{
	/*padding:42px 0;*/
}
#doors2  .container div  span{
	color:#ffffff;
	font-size: 36pt;
	font-size: 3rem;
	font-family: WebnarBold;
}
#doors2  .container div p{
	font-size: 24pt;
	font-size: 1.25rem;
	padding: 6px 15px 40px;
}
#doors2  .container div:first-child{
	background:url(../images/10years.png)  50% 50% no-repeat;
}
#doors2  .container div:nth-child(2){
	background:url(../images/6000doors.png) 50% 50% no-repeat;
}
#doors2  .container div:nth-child(3){
	background:url(../images/clients.png)  50% 50% no-repeat;
}
#doors2  .container div:last-child{
	background:url(../images/garanty.png)  50% 50% no-repeat;
}
#doors3{
	background:url(../images/contain.png) 0% 0% no-repeat;
	height: 653px;
}
#doors3 #opened_doors{
	display: inline-block;
}
#doors3 .materials{
	margin-top:20px;
	
}
#materials_blocks{
	display: inline-block;
    margin-left: -55px;
}
#doors3 .materials div{
	display: inline-block;
}
#doors3 .materials p{
	height: 53px;
    display: inline-block;
    vertical-align: text-bottom;
	    font-size: 1.5em;
    font-weight: bold;
}
#doors3  #materials_blocks .materials:first-child  p,#doors3  #materials_blocks .materials:nth-child(2)  p,#doors3  #materials_blocks .materials:nth-child(3)  p{
	height: 64px;
}

#doors4 {
	height:415px;
}
#doors4 .worker p, #doors6 .worker p {
	font-size:14.4pt;
	font-size:1.2rem;
	color:#ffffff;
	line-height: 26.4pt;
	line-height: 2.2rem;
}
#doors4 .container .worker, #doors6 .container .worker{
	padding-top:25px;
}
#doors4 .container div,.worker, #doors6 .container div{
	width:49%;
	display:inline-block;
	vertical-align: top;
	text-align: center;

}
.doors .container form{
	background:url(../images/wood_desk.png) 50% 50% no-repeat;
	height:300px;
}
.doors .container  form  input[type="text"]{
	background: rgba(255,255,255, .3);
	height:25px;
	border-radius:6px;
	margin-bottom:7px;
	border:1px solid;
	border-color:#858585;
	
	-moz-box-shadow:    inset 0 0 10px #858585;
   -webkit-box-shadow: inset 0 0 10px #858585;
   box-shadow:         inset 0 0 10px #858585;
   background-position:2% 50%;
    background-repeat: no-repeat;
    text-indent: 25px;
	width:205px;
}
.doors .container  form  input[type="submit"]{
	background-color:#e00000;
	border:none;
	border-radius:6px;
	color:#ffffff;
	font-family:WebnarBold;
	text-transform:uppercase;
	padding:10px 33px;
	font-size: 12pt;
	font-size: 1rem;
	width:205px;
	letter-spacing:1px;
	
}

.doors .container  form  input::-webkit-input-placeholder {
    color: #000000;
	 font-family: MullerThinDEMO; 
}
.doors .container  form  input:-moz-placeholder {
	 font-family: MullerThinDEMO; 
    color: #000000;
}
.doors .container  form  input::-moz-placeholder {
    color: #000000;
	 font-family: MullerThinDEMO; 
}
.doors .container  form  input:-ms-input-placeholder {
    color: #000000;
	 font-family: MullerThinDEMO; 
}
.doors .container  form p:first-child{
	padding-top:55px;
	font-family: WebnarBold;
	color:#ffffff;
	font-size: 14.4pt;
	font-size: 1.2rem;
	font-weight: bold;
}
.wood_texture{
	background:url(../images/wood_texture.png) 50% 50% no-repeat;
	background-size:cover!important;
	-webkit-background-size:cover!important;
	-o-background-size:cover!important;
	-moz-background-size:cover!important;
}
.wood_texture h2{
	color:#ffffff;
}
#doors5{
	height: 1150px;
	background:url(../images/wall.png) 50% 50% no-repeat;
	}
#doors6{
	min-height:415px;
	text-align: center;
}
#doors6 .container #text{
	color:#fff;
	font-size: 14.4pt;
	font-size: 1.2rem;
}
#doors6 .container form p:first-child {
	text-transform:uppercase;
	font-size:12pt;
	font-size:1rem;
	padding-bottom: 10px;
}
#doors6 .container form p:nth-child(2){
	padding-bottom: 10px;
}
#doors6 .container form input[type="submit"], #doors12 .container form input[type="submit"] {
	padding:10px;
	font-size:9.24pt;
	font-size:0.77rem;
}

#doors7{
	height: 385px;
	background:url(../images/doors7.png) 50% 50% no-repeat;
	
}
#doors7 div{
	font-family:WebnarBold;
	font-size:18pt;
	font-size:1.5rem;
	line-height: 24pt;
	line-height: 2rem;
	padding-top:10px ;
}
#doors7 div:nth-child(4), #doors7 div:nth-child(3){
	line-height: 48pt;
	line-height: 4rem;
}
#doors7 div p{
	color:#ff9c00;
	font-family:WebnarBold;
	font-size:30pt;
	font-size:4rem;
	line-height: 48pt;
	line-height: 4rem;
	padding:0 15px;
	
}
#doors7 div  span{
	color:#e10000;
	
}
#doors7 h2{
	padding:10px 0;
}
#doors8{
	height: 510px;
	background:url(../images/doors8.png) 50% 50% no-repeat;
}
#doors8 .container h2, #doors9 .container h2{
	padding-top:30px;
}
#doors8 .container div{
	width:49%;
	display:inline-block;
	text-align:center;
	height:326px;
}
#doors8 .container div .big_img{
	padding:20px 0;

}
#doors8 .container div p{
	font-family:WebnarBold;
	font-weight:bold;
	font-size:21.6pt;
	font-size:1.8rem;
	padding-bottom:20px;
}
#doors8 .container div a{
	font-family:WebnarBold;
	text-decoration:none;
	color:#fff;
	text-transform:uppercase;
	background-color:#82d71e;
	border-radius:5px;
	padding: 10pt 12pt;
	}
#doors8 .container div #arrow_right{
	position: relative;
    top:-140px;
}
#doors8 .container div #arrow_left{
	position: relative;
    top:-140px;
}
#doors9{
	height:285px;
	background:url(../images/girl.png) 50% 50% no-repeat;
}
#doors9 .container div{
	text-align:center;
	display:inline-block;
	margin-left:50%;
	margin-top:40px;
	padding:10px 20px;
	height:142px;
	width:280px;
	border:2px solid;
	border-color:#aeaeae;
	-moz-box-shadow:    inset 0 0 10px #aeaeae;
   -webkit-box-shadow: inset 0 0 10px #aeaeae;
   box-shadow:         inset 0 0 10px #aeaeae;
   border-radius: 2px;
	
}
#doors9 .container div p{
	margin-bottom:15px;
	margin-top: -25px;
	font-size: 14.4pt;
	font-size: 1.2rem;
    letter-spacing: 2px;
}
#doors9 .container div a{
	text-transform:uppercase;
	text-decoration:none;
	font-family:WebnarBold;
	color:#fff;
	background-color:#e28c06;
	border-radius:5px;
	padding:5px;
	display: block;
	margin:0 10px;
	font-size:1.4rem;
}
#doors9 .container div span{
	position: relative;
    left: -55%;
    top:-20px;
	color:#fff;
	background:url(../images/green_circle.png) 50% 50% no-repeat;
	width:35px;
	height:35px;
	 padding-top:10px;
  display:inline-block;
	font-size:1.3rem;
	font-family:WebnarBold;
}
#doors10{
	height: 515px;
}
#doors11{
	height: 283px;
	background:url(../images/happy_clients.png) 50% 50% no-repeat;
}
#doors12{
	height: 325px;
}
#doors13{
	height: 570px;
	background:url(../images/map_background.png) 50% 50% no-repeat;
}
.bxslider li{
	text-align:center;
	text-align:-webkit-center;
}
.bxslider li img{

}
#doors5 .container div{
	max-width:600px;
	margin:0 auto;
	text-align:center;
}
#doors5 .container  .small ,#doors5 .container  .big {
	color:#ffffff;
	background-color:#ff9c00;
	border-radius:5px;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	font-family: WebnarBold; 
}
#doors5 .container  .small {
	float:right;
	margin-top:-30px;
	padding:6pt 12pt;
	padding: 0.6rem 1rem 0.5rem;
	
}
#doors5 .container  .big {
	display:block;
	margin:0 auto;
	max-width:325px;
	padding:6pt 12pt;
	padding: 0.6rem 1rem 0.5rem;
	font-size: 19.2pt;
	font-size: 1.6rem;
	margin-top:20px;
	
}
#doors5 .container  #first{
	margin-bottom:20px;
}
#doors5 .container p span{
	color:#ff0000;
}
#doors5 .container p{
	font-size: 21.6pt;
    font-size: 1.8rem;
	text-align: center;
}
#doors5 .container  h2{
	padding: 25px 0 15px;
}
#doors5 .container  h3{
	text-transform:uppercase;
	padding-top:40px;
}
.bxslider {
    list-style:none;
    margin:0;
    padding:0
}

input#input_phone {
    background-image: url(../images/phone.png);
}
input#input_date {
    background-image: url(../images/calendar.png);
}
input#input_time {
    background-image: url(../images/time.png);
}
input#input_name {
    background-image: url(../images/human.png);
}
#doors13 h2{
	color:#fff;
}
#doors10 .stickers div{
	width:18%;
	display:inline-block;
	vertical-align: -webkit-baseline-middle;
	text-align: center;
	text-align: -webkit-center;
	margin-top:-20px;
}

#doors11 .container div{
	max-width:600px;
	margin:0 auto;
	text-align:center;

	
}
#doors11 .container .bxslider div p{
	font-size:14.4pt;
	font-size:1.2rem;
}
#doors11 .container div h3{
	font-family:WebnarBold;
	margin-bottom:10px;
}
#doors11 .container .bxslider img{
	margin:0 auto;
	padding-bottom:15px;
}
#doors11 .container .bxslider div{
	background-color:rgba(255,255,255,.4);
	width:75%;
	border-radius:5px;
	padding: 22px;

}
#doors11 .container h2{
	padding-bottom:35px;
}
.stickers div p{
	background-image: url(../images/sticker.png);
	background-repeat: no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	height:90px;
	width:125px;
	padding-top:35px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 18px 16px 35px 16px;
}
.stickers div:first-child>p{
	font-size:0.8rem;
}
#doors10 .container #call_us div, #doors12 .container  div, #doors13 .container div div{
	width:49%;
	display:inline-block;
	text-align:center;
}
#doors12 .container   img {
	margin-top:100px;
	margin-left:-10px;
}
#doors10 .container #call_us div form{
	margin-bottom: 40px;
	
}
#doors10 .container #call_us div form input:first-child, #doors12 .container div form input:first-child{
	margin-top:90px;
}
#doors10 .container #call_us div form p input, #doors12 .container  div form p input{
	margin-top:20px!important;
	 padding: 10px;
    font-size: 10.8pt;
    font-size: 0.9rem;
}
#doors10 .container #call_us #call_us_text, #doors10 .container #call_us #call_us_text h3, #doors12 .container  #call_us_text, #doors12 .container  #call_us_text h3{
	text-align:left;
	vertical-align:top;
	padding-top:25px;
}
#doors10 .container #call_us #call_us_text p, #doors10 .container #call_us #call_us_text h3{
	margin-left:50%;
	color:#fff;
	font-size: 12pt;
	font-size: 1rem;
	
}
#doors10 .container #call_us #call_us_text p, #doors12 .container  #call_us_text p{
	line-height:14.4pt;
    line-height: 1.2rem;
}
#doors10 .container #call_us #call_us_text h3{
	font-size: 21.6pt;
	font-size: 2.4rem;
    letter-spacing: 3px;
	line-height:2.1rem;
}

#hand, .pin{
	position:absolute;
}
.pin{
	margin-top:30px;
	margin-left: -27px
}
#doors10 .stickers div span{
	position: relative;
    left: -35%;
    top: 45px;
    color: #fff;
  background-image: url(../images/green_circle.png);
  background-repeat:no-repeat;
  width:35px;
  height:35px;
  padding-top:5px;
  display:inline-block;
    font-size: 1.3rem;
    font-family: WebnarBold;
}
#doors13 .container div div{
	vertical-align:top;
}
#doors13 .container form p:nth-child(2){
	font-size:9.6pt;
	font-size: 0.8rem;
    font-weight: bold;
	padding:3px 0 8px;
}
#doors13 .container #map p{
	color:#fff;
	text-transform:uppercase;
	padding-bottom: 10px;
     text-align:left;
	background-image: url(../images/pointer.png);
	background-repeat:no-repeat;
	
	text-indent:18px;
	line-height: 1.5rem;
    margin-top: -18px;
	
}
#doors13 .container div{
	margin-top:30px;
}
#doors13 .container form input[type="submit"]{
	background-color:#000000;
	padding: 7px 33px;
	
}
#doors13 .container  #logo{
	color:#fff;
	margin-left:35%;
	margin-top:40px;
	text-transform:uppercase;

}
#doors13 .container  #logo p{
	width: 60%;
    line-height: 2rem;
    padding-left: 50px;
    padding-top: 5px;
	font-size: 16.8pt;
	font-size: 1.4rem;
}
#doors10  #call_us #hand{
	margin-top: -24px;
}
#doors13 #logo img{
	padding-top: 7px;
}
#doors12 .container div{
	width:310px;
	margin-left:-10px;
}
#doors12 .container #call_us_text{
	width:440px;
	margin-top: 25px;
}
#doors12 .container #call_us_text p, #doors12 .container #call_us_text h3{
	margin-left:175px;
	color:#ffffff;
}
 #doors12 .container #call_us_text h3{
	font-size:22.8pt;
	font-size:1.8rem;
	line-height: 1.6rem;
 }
  #doors12 .container #call_us_text p{
      padding-top: 10px;
    font-size: 1.07rem;}
  #doors10 .container #call_us #call_us_text p{
	    font-size: 1.2rem;
    width: 220px;
    padding-top: 10px;
    line-height: 1.6rem;
	}